/*CSS Grid setup ================================================*/

.featured-blog {
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: white;
}

.side-nav,
.featured-comments {
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: white;
}

.latest-blog,
.small-blog {
	background-color: white;
}

/*Individual elements =========================================*/

.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding-left: 20%;
}

.side-nav a {
	margin: 10% 0;
	text-decoration: none;
	text-transform: uppercase;
}

.links {
	display: flex;
	flex-direction: column;
}
