/* 
#300032 - puple
#06000a - black
#c43235 - red
#e6e6e8 - gray
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  width: 100%;
  background-color: #e6e6e8;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #1d2120;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  color: #c43235;
}

h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
}

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
  color: #c43235;
}

.btn {
  padding: 0.5em;
  background-color: #300032;
  border: none;
  color: white;
  margin: 0.5em;
  font-size: 1.1em;
  width: 25%;
}

/* .container {
	padding: 50px;
	display: grid;
	height: 100vh;
	grid-auto-flow: column;
	grid-template-columns: 20% 20% 20% 20%;
	grid-column-gap: 5%;
	grid-template-rows: 30% 30% 30%;
	grid-row-gap: 5%;
	align-content: center;
} */

/*Index page=======================================================*/

nav {
  background-color: white;
}

nav ul {
  list-style: none;
}

/* Column layout===================================================*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-1-4 {
  width: 23%;
}

.col-2-4 {
  width: 48%;
}

.col-3-4 {
  width: 73%;
}

.col-4-4 {
  width: 100%;
}

@media (max-width: 700px) {
  .col-1-4 {
    width: 50%;
  }
  .col-3-4 {
    width: 100%;
  }
  .container {
    padding: 25px;
  }
}

@media (max-width: 300px) {
  .col-1-4 {
    width: 100%;
  }
  .col-2-4 {
    width: 100%;
  }
  .col-3-4 {
    width: 100%;
  }
  .container {
    padding: 0;
  }
}
