.blogPost {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
	padding: 5%;
}

.blogPost h2 {
	margin: 0;
}

.blogPost input,
.blogPost textarea,
.blogPost button {
	font-size: 18px;
}

.blogPost button {
	width: 20%;
	padding: 10px;
}
